{% extends "base.html" %}

{% block content %}
<h2>Schedule</h2>
{% for week in object_list %}
{% if request.user.status == "Manager" %}
{% if week.teammate != request.user %}
{% if week.teammate in request.user.charges.all %}
<p><a href="{{week.get_absolute_url}}?teammate={{week.teammate.username}}">{{week}}</a></p>
{% endif %}
{% else %}
<p><a href="{{week.get_absolute_url}}">{{week}}</a></p>
{% endif %}
{% else %}
<p><a href="{{week.get_absolute_url}}">{{week}}</a></p>
{% endif %}
{% endfor %}
{% endblock %}