{% extends "base.html" %}

{% block content %}
<h3>{{object}}</h3>

<h5>Burndown Chart</h5>
{% for hours in object.projecthours_set.all %}
<table>
    <tr>
        <th>Teammate</th>
        <th>Goal</th>
        <th>Actual</th>
    </tr>
{% for hours in object.projecthours_set.all %}
    <tr>
        <td><a href="#">{{hours.week.teammate}}</a></td>
        <td>{{hours.planned_hours}}</td>
        <td><a href="https://5q2.harvestapp.com/reports/projects/5405037?from=20140427&kind=week&till=20140503">{{hours.actual_hours}}</a></td>
    </tr>
{% endfor %}
</table>

{% endfor %}
{% endblock %}
